# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

.vscode/ 

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/

GRAD2/build
GRAD2/Lab2/output
GRAD2/Lab2/build
GRAD2/Lab3/build
GRAD2/Lab3/output
GRAD2/ExtendedMenu/build
GRAD2/Lab4/build
GRAD3/Lab1/build
GRAD3/Lab2/build
GRAD3/Lab3/build
GRAD3/Lab3/test_data/*